.container1 {
  width: 50%;
  margin: auto;
  border: 1px solid;
  box-shadow: 1px 5px 5px 5px grey;
  margin-top: 30px;
  margin-bottom: 30px;
}

.home {
  margin-top: 30px;
  display: flex;
  position: relative;
  margin: auto;
  padding: 10px;
}

.following__info {
  line-height: 0.3;
  margin-left: 30px;
}
.right_button {
  line-height: 0.2;
  font-size: 40px;
  position: absolute;
  right: 20px;
}
.follwoing__post > img {
  align-items: center;
  width: 100%;
}
.img__description {
  padding: 10px;
  line-height: 0.2;
}
.thumb_down,
.thumb_up {
  cursor: pointer;
}
